* {
    box-sizing: border-box;
}

header {
    background-color:rgba(160, 81, 45, 0.9);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    margin-top: 2rem;
    margin-right: 2rem;
}

#titulo {
    margin-left: 2rem;
    color: rgb(0, 255, 47);
}


h2 {
    background-color: rgba(160, 81, 45, 0.9);
    padding: 7px;
    border-radius: 7px;
}

.contenedor {
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    display: grid;
    grid-template-columns: 1 3fr;
    justify-content: center;

}

.contenido {
    background-color: rgba(160, 81, 45, 0.9);
    padding: 7px;
    margin: 3px;
    border-radius: 7px;
}

.boton-default {
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

footer {
    color: rgb(26, 203, 118);
}